**/log
**/results
**/beta_analysis
**/epnp_analysis
**/visual
**/extras
**/bfm
**/Sim3DR
**/playground
**/mvg
**/archive
**/bundle_results
**/__pycache__/
**/*.pyc
**/example
**/*.zip
**/*.mat
**/synthetic_principal
**/*.pt
**/asset
**/results_prev
**/weights
**/supp_results
data
**/preprocess
